@@ -1,5 +1,5 @@
 /*
- * Copyright (c) 2020, 2021, Oracle and/or its affiliates. All rights reserved.
+ * Copyright (c) 2020, 2022, Oracle and/or its affiliates. All rights reserved.
  * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
  *
  * This code is free software; you can redistribute it and/or modify it
@@ -53,7 +53,7 @@ class XXX {
 #end[RO]
 
     @Benchmark
-    public int test$Ms$LoopGet$Type${#if[view]?View}$SWAP$$RO$() {
+    public $type$ test$Ms$LoopGet$Type${#if[view]?View}$SWAP$$RO$() {
         return innerLoopGet$Type$($ms${#if[view]?ByteBufferAs}$Type$Buffer{#if[view]?View}$SWAP$$RO$);
     }
 #end[byte]