@@ -62,6 +62,10 @@ h5 {
 h6 {
     font-size:13px;
 }
+/* Disable font boosting */
+h1, h2, h3, h4, h5, h6 {
+    max-height: 2em;
+}
 ul {
     list-style-type:disc;
 }
@@ -717,52 +721,6 @@ span#page-search-link {
     background: #F8981D;
     color: #253441;
 }
-button.copy-url {
-    opacity: 80%;
-    transition: opacity 0.2s;
-    margin-left: 0.4em;
-    border: none;
-    border-radius: 3px;
-    cursor: pointer;
-    background: none;
-    padding:0.3em;
-    position: relative;
-    top:0.13em
-}
-button.copy-url img {
-    width: 1.2em;
-    height: 1.2em;
-    padding: 0.01em 0;
-    background: none;
-    position:relative;
-    top: 0.15em;
-}
-div.page-search-info:hover button.copy-url {
-    opacity: 90%;
-}
-div.page-search-info button.copy-url:hover {
-    background-color: #dfe6f1;
-    opacity: 100%;
-}
-button.copy-url span {
-    color: #000000;
-    content: attr(aria-label);
-    font-family:'DejaVu Sans', Arial, Helvetica, sans-serif;
-    font-size: 85%;
-    line-height: 1.2em;
-    padding: 0.2em;
-    position: relative;
-    top: -0.18em;
-    transition: opacity 0.1s;
-    opacity: 0;
-}
-div.page-search-info:hover button.copy-url span {
-    opacity: 90%;
-}
-div.page-search-info button.copy-url:active {
-    background-color: #cfdbee;
-    opacity: 100%;
-}
 .module-graph span {
     display:none;
     position:absolute;
@@ -832,7 +790,111 @@ main a[href*="://"]:focus::after {
         132-240 240 120 120 240-240 132 132V0z" fill="%23bb7a2a"/>\
       </svg>');
 }
-
+/*
+ * Styles for copy-to-clipboard buttons
+ */
+button.copy {
+    opacity: 80%;
+    border: none;
+    border-radius: 3px;
+    position: relative;
+    background:none;
+    transition: opacity 0.2s;
+    cursor: pointer;
+}
+button.copy:hover,
+button.copy:active {
+    opacity: 100%;
+}
+button.copy img {
+    position: relative;
+    background: none;
+}
+button.copy span {
+    color: #303030;
+    position: relative;
+    top: -0.1em;
+    transition: all 0.1s;
+    font-size: 85%;
+    line-height: 1.2em;
+}
+/* header/section copy button */
+button.copy-header {
+    margin: 0 0.2em;
+    padding: 0 4px;
+    height: 1.35em;
+}
+button.copy-header img {
+    height: 1em;
+    top: 0.1em;
+}
+button.copy-header:active {
+    background-color: rgba(128, 128, 160, 0.2);
+}
+/* search page copy button */
+button#page-search-copy {
+    margin-left: 0.4em;
+    padding:0.3em;
+    top:0.13em;
+}
+button#page-search-copy img {
+    width: 1.2em;
+    height: 1.2em;
+    padding: 0.01em 0;
+    top: 0.15em;
+}
+button#page-search-copy span {
+    color: #000000;
+    content: attr(aria-label);
+    line-height: 1.2em;
+    padding: 0.2em;
+    top: -0.18em;
+    opacity: 0;
+}
+div.page-search-info:hover button#page-search-copy,
+div.page-search-info:hover button#page-search-copy span {
+    opacity: 90%;
+}
+div.page-search-info button#page-search-copy:hover {
+    background-color: #dfe6f1;
+}
+div.page-search-info button#page-search-copy:active {
+    background-color: #cfdbee;
+}
+/* snippet copy button */
+button.snippet-copy {
+    position: absolute;
+    top: 6px;
+    right: 6px;
+    height: 1.7em;
+    opacity: 50%;
+    padding: 2px;
+}
+button.snippet-copy img {
+    width: 18px;
+    height: 18px;
+    padding: 0.05em 0;
+}
+button.snippet-copy span {
+    content: attr(aria-label);
+    line-height: 1.2em;
+    padding: 0.2em;
+    position: relative;
+    top: -0.5em;
+    display: none;
+}
+div.snippet-container:hover button.snippet-copy span {
+    display: inline;
+}
+div.snippet-container:hover button.snippet-copy {
+    opacity: 80%;
+}
+div.snippet-container button.snippet-copy:hover {
+    opacity: 100%;
+}
+button.snippet-copy:active {
+    background: #d3d3d3;
+}
 /*
  * Styles for user-provided tables.
  *
@@ -1067,49 +1129,6 @@ pre.snippet {
 div.snippet-container {
     position: relative;
 }
-button.snippet-copy {
-    position: absolute;
-    top: 6px;
-    right: 6px;
-    height: 1.7em;
-    opacity: 50%;
-    transition: opacity 0.2s;
-    padding: 2px;
-    border: none;
-    cursor: pointer;
-    background: none;
-}
-button.snippet-copy img {
-    width: 18px;
-    height: 18px;
-    padding: 0.05em 0;
-    background: none;
-}
-div.snippet-container:hover button.snippet-copy {
-    opacity: 80%;
-}
-div.snippet-container button.snippet-copy:hover {
-    opacity: 100%;
-}
-button.snippet-copy span {
-    color: #3d3d3d;
-    content: attr(aria-label);
-    font-family:'DejaVu Sans', Arial, Helvetica, sans-serif;
-    font-size: 85%;
-    line-height: 1.2em;
-    padding: 0.2em;
-    position: relative;
-    white-space: nowrap;
-    top: -0.5em;
-    display: none;
-}
-div.snippet-container:hover button.snippet-copy span {
-    display: inline;
-}
-button.snippet-copy:active {
-    background: #d3d3d3;
-    opacity: 100%;
-}
 @media screen and (max-width: 800px) {
     pre.snippet {
         padding-top: 26px;